# Node
npm-debug.log
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class

# Lua
luac.out

# Neovim
Session.vim

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# MacOS
._*
.AppleDouble
.DS_Store

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

# Environment
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Private files
*.pem

# Temporary files
*.swp

# VS Co de
.vscode

# Lazyvim/Lazy.nvim
lazy-lock.json

# Ssh
id_rsa
id_rsa.pub
known_hosts

# tmux plugins
tmux/plugins/*
